a{
    text-decoration: none;
}
h2.stit {
    padding-top: 15px;
    border-bottom: 1px solid #203a4d;
    padding-bottom: 13px;
    background: url(../img/mem/tit_myssg_01.gif) no-repeat 0 18px;
    padding-left: 10px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #203a4d;
    line-height: 30px;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.content_myssg, .content_myssg button, .content_myssg input, .content_myssg textarea {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

#wrap {
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    position: relative;
}

:root {
    --swiper-theme-color: #007aff;
}

.form_section {
    margin-bottom: 30px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.content_myssg, .content_myssg button, .content_myssg input, .content_myssg textarea {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

#wrap {
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    position: relative;
}

body {
    position: relative;
    line-height: 1.5em;
    font-size: 0.75em;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

.stit + .form_section .content_intro {
    margin-top: 30px;
}

.form_section .content_intro {
    margin-top: 60px;
    overflow: unset;
}

.content_intro {
    position: relative;
}

.form_section .content_intro h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #203a4d;
    line-height: 22px;
    letter-spacing: -1px;
    text-align: left;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.form_section .content_intro p {
    margin-bottom: -1px;
    padding-bottom: 20px;
    color: #666;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

body {
    position: relative;
    line-height: 1.5em;
    font-size: 0.75em;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

img {
    vertical-align: middle;
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.form_section .content_intro p {
    margin-bottom: -1px;
    padding-bottom: 20px;
    color: #666;
}

.stit + .form_section .content_intro {
    margin-top: 30px;
}

.form_section .content_intro {
    margin-top: 60px;
    overflow: unset;
}

.content_intro {
    position: relative;
}

.form_section .fieldset.medium {
    position: relative;
    margin-top: 1px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.form_section .fieldset.medium {
    padding: 0;
    background: none;
}

fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr {
    border: 0 none;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.form_section legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    line-height: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    clip: rect(0, 0, 0, 0);
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    unicode-bidi: isolate;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.form_section legend:before {
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    content: " ";
}

.form_section legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    line-height: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    clip: rect(0, 0, 0, 0);
}

.form_section .fieldset.medium .field {
    padding: 12px 10px;
}

.fieldset.medium .field {
    padding: 12px 10px;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
}

.fieldset .field {
    zoom: 1;
}

.fieldset.medium .field:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: "";
}

.form_section .fieldset.medium .field .label {
    width: 154px;
    padding: 0;
    color: #222;
}

.fieldset.medium .field .label {
    width: 154px;
    line-height: 28px;
    font-weight: bold;
    color: #222;
}

.fieldset .field .label {
    float: left;
    display: inline;
    font-size: 12px;
}


img {
    vertical-align: middle;
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.form_section .fieldset.medium .field .label {
    width: 154px;
    padding: 0;
    color: #222;
}

.fieldset.medium .field .label {
    width: 154px;
    line-height: 28px;
    font-weight: bold;
    color: #222;
}

.fieldset .field .label {
    float: left;
    display: inline;
    font-size: 12px;
}

.form_section .fieldset.medium .field .insert {
    margin-left: 154px;
    color: #666;
}

.fieldset.medium .field .insert {
    position: relative;
    margin-left: 154px;
    line-height: 28px;
    vertical-align: middle;
    zoom: 1;
}

.fieldset.medium .field:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: "";
}
.form_section .fieldset.medium .field .insert {
    margin-left: 154px;
    color: #666;
}
.fieldset.medium .field .insert {
    position: relative;
    margin-left: 154px;
    line-height: 28px;
    vertical-align: middle;
    zoom: 1;
}

.form_section .fieldset.medium .field {
    padding: 12px 10px;
}

.fieldset.medium .field {
    padding: 12px 10px;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
}

.fieldset .field {
    zoom: 1;
}

.form_section .fieldset.medium .field .insert {
    margin-left: 154px;
    color: #666;
}

.fieldset.medium .field .insert {
    position: relative;
    margin-left: 154px;
    line-height: 28px;
    vertical-align: middle;
    zoom: 1;
}

.form_section .fieldset.medium .field .label {
    width: 154px;
    padding: 0;
    color: #222;
}

.fieldset.medium .field .label {
    width: 154px;
    line-height: 28px;
    font-weight: bold;
    color: #222;
}

.fieldset .field .label {
    float: left;
    display: inline;
    font-size: 12px;
}

.content_myssg, .content_myssg button, .content_myssg input, .content_myssg textarea {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}


user agent stylesheet
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, form, label, legend, input, button, textarea, select {
    margin: 0;
    padding: 0;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.form_section .fieldset.medium .field .insert {
    margin-left: 154px;
    color: #666;
}

.fieldset.medium .field .insert {
    position: relative;
    margin-left: 154px;
    line-height: 28px;
    vertical-align: middle;
    zoom: 1;
}

.fieldset.medium .field .insert div:first-child {
    margin-top: 0;
}

.form_section .fieldset.medium .field .insert {
    margin-left: 154px;
    color: #666;
}

element.style {
    width: 102px;
}

.select.small {
    padding: 5px;
    height: 28px \9;
}

.select {
    padding: 9px 5px;
    font-size: 12px;
    border: solid 1px #b2b2b2;
    color: #666;
    vertical-align: middle;
}

select {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    margin: 0em;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}

element.style {
    width: 136px;
    ime-mode: disabled;
}


.input_text.small, .input_password.small {
    height: 28px;
    line-height: 28px \9;
    padding: 0;
    border: 1px solid #b2b2b2;
    text-indent: 10px;
}

.input_text, .input_password, .input_search, .input_number, .textarea {
    margin: 0;
    border: solid 1px #b2b2b2;
    border-radius: 0;
    background-color: #fff;
    font-size: 12px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    color: #666;
    vertical-align: middle;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
}

input[type="tel" i] {
    direction: ltr;
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    line-height: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    clip: rect(0, 0, 0, 0);
}

.form_section .fieldset.medium .field {
    padding: 12px 10px;
}


.fieldset.medium .field {
    padding: 12px 10px;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
}

.fieldset.medium .field:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: "";
}

.form_section .fieldset.medium .field {
    padding: 12px 10px;
}

.fieldset.medium .field {
    padding: 12px 10px;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
}

.fieldset.medium .field:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: "";
}

.form_section .fieldset.medium .field .label {
    width: 154px;
    padding: 0;
    color: #222;
}

.fieldset.medium .field .label {
    width: 154px;
    line-height: 28px;
    font-weight: bold;
    color: #222;
}

.fieldset .field .label {
    float: left;
    display: inline;
    font-size: 12px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.form_section .fieldset.medium .field .label {
    width: 154px;
    padding: 0;
    color: #222;
}

.fieldset.medium .field .label {
    width: 154px;
    line-height: 28px;
    font-weight: bold;
    color: #222;
}

.fieldset .field .label {
    float: left;
    display: inline;
    font-size: 12px;
}

.form_btn_area {
    margin-top: 20px;
    text-align: center;
}

.form_btn_area p.desc {
    margin: 10px 0 20px;
    color: #f96a62;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.form_btn_area {
    margin-top: 20px;
    text-align: center;
}


.cs_btn.large.black {
    background: #f14f4f;
    border: 1px solid #da3a3a;
    color: #fff;
}

.cs_btn.large {
    min-width: 96px;
    padding: 12px 16px 10px;
    text-align: center;
    font-size: 16px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: -1px;
}

.cs_btn.large {
    min-width: 96px;
    padding: 11px 16px;
    text-align: center;
    font-size: 16px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: -1px;
    line-height: 18px;
}

.cs_btn {
    display: inline-block;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
} */

.cs_info_box {
    margin-top: 30px;
    text-align: left;
}

.cs_info_box .cs_info_subtit {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.28px;
    color: #222;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.cs_info_box {
    margin-top: 30px;
    text-align: left;
}

.cs_info_box .cs_info_lst {
    overflow: hidden;
    padding: 15px 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.cs_info_box {
    margin-top: 30px;
    text-align: left;
}

.cs_info_box .cs_info_lst li:first-child {
    margin-top: 0;
}

.cs_info_box .cs_info_lst li {
    position: relative;
    margin-top: 5px;
    padding-left: 8px;
    font-size: 12px;
    color: #888;
    line-height: 16px;
    letter-spacing: -0.28px;
}

ul li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.cs_info_box .cs_info_lst li:before {
    position: absolute;
    top: 8px;
    left: 0;
    width: 2px;
    height: 2px;
    background: #888;
    border-radius: 50%;
    content: "";
}

.left-sidebar{
    color: black;
    
}

.depth2{
    padding-left: 1em;
}


.aside-menu{
    padding-left: 0;
}

.greeting{
    margin-top: 35px;
}

.sub-menu > a{
    color: black;
}

.depth2{
    padding-left: 3px;
}

.swiper-wrapper{
    padding-left: 0px;
}

.stit{
    padding-left: 0px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.type4{
    padding-inline-start: 0px;
}

