.css-mkkf9p {
    flex: 1 1 auto;
}

.css-5cgeed {
    flex: 1 1 100%;
    min-width: 0px;
}

@media (min-width: 720px) {
    .css-qdwe4u {
        padding: 0px;
    }
}

.css-qdwe4u {
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    width: 1024px;
    max-width: 100%;
    transition: width 0.24s ease 0s;
    padding: 0px 20px;
}

@media (min-width: 720px) {
    .css-1s72iaf {
        padding: 80px 0px;
    }
}

.css-1s72iaf {
    padding: 40px 0px;
}

@media (min-width: 720px) {
    .css-9fmo7n {
        font-size: 32px;
    }
}

.css-9fmo7n {
    font-weight: 700;
    line-height: 130%;
    color: rgb(25, 25, 25);
    font-size: 24px;
}

.css-17ti8g7 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 150%;
    color: rgb(76, 76, 76);
}

.css-9fmo7n {
    font-weight: 700;
    line-height: 130%;
    color: rgb(25, 25, 25);
    font-size: 24px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.css-8knsro {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 14px;
}

.css-16iku8x {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 16px;
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 122, 255);
    border: none;
}

button {
    border: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.css-1buehjj {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.css-1oucam8 {
    margin: 0px auto;
    padding: 10px 0px 0px;
    min-width: 100%;
    max-width: 100%;
    scrollbar-width: none;
    box-sizing: border-box;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
}

.css-17t0ez6 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 20px;
}

.css-xrnbd4 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0px;
    gap: 25px;
}

.css-behpb9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0px;
}

@media (min-width: 720px) {
    .css-1m20113 {
        gap: 25px;
    }
}

.css-1m20113 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

.css-1peezc1 {
    width: 1px;
    height: 16px;
    background-color: rgb(178, 178, 178);
    margin-left: 18px;
    margin-right: 25px;
}

@media (min-width: 720px) {
    .css-1m20113 {
        gap: 25px;
    }
}

.css-1m20113 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 720px) {
    .css-prvn4i {
        gap: 37px;
    }
}

.css-prvn4i {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 22px;
}

.css-1ivq588 {
    width: 1px;
    height: 16px;
    background-color: rgb(178, 178, 178);
    margin-left: 29px;
    margin-right: 25px;
}

@media (min-width: 720px) {
    .css-1m20113 {
        gap: 25px;
    }
}

.css-17t0ez6 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 20px;
}

.css-1m20113 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

.css-1ivq588 {
    width: 1px;
    height: 16px;
    background-color: rgb(178, 178, 178);
    margin-left: 29px;
    margin-right: 25px;
}

.css-8840p9 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(76, 76, 76);
    white-space: nowrap;
}

.css-16d8yja {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 26px;
}

.css-1alv6b0 {
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgb(127, 127, 127);
}

.css-1ivq588 {
    width: 1px;
    height: 16px;
    background-color: rgb(178, 178, 178);
    margin-left: 29px;
    margin-right: 25px;
}

.css-dc2l8g {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 23px;
}

.css-xrnbd4 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0px;
    gap: 25px;
}

.css-yu6za6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}

.css-1og3vwv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

.css-bjn8wh {
    position: relative;
}

.css-1ppyolw {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 16px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    width: 124px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(102, 102, 102);
}

.css-19wgitx {
    position: absolute;
    top: calc(100% + 8px);
    left: 0px;
    width: 90vw;
    max-width: 335px;
    min-height: 319px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
    border-radius: 6px;
    cursor: default;
    box-sizing: border-box;
    z-index: 9999;
}

.css-155ndws {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 26px;
}

.css-19wgitx * {
    box-sizing: border-box;
}

.css-jqqxr7 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-5goyq6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
}

.css-1r3qoyk {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 16px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    min-width: 70px;
    height: 36px;
    color: rgb(153, 153, 153);
    background-color: rgb(246, 246, 246);
    border: none;
}

.css-10q122i {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 16px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(25, 25, 25);
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    min-width: 193px;
    height: 36px;
}

.css-1rzzbt2 {
    height: 1px;
    background: rgb(229, 229, 229);
    width: 100%;
}

.css-1m95gdn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.css-ga3b11 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.css-1og3vwv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

.css-1oxv28r {
    min-width: 63px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: rgb(25, 25, 25);
}

.css-w4x83i {
    color: rgb(2, 122, 255);
}

.css-bjn8wh {
    position: relative;
}

.css-1k1iuw5:disabled {
    cursor: not-allowed;
    color: rgb(178, 178, 178);
}

.css-1k1iuw5 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 16px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(25, 25, 25);
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    width: 124px;
    height: 36px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-9q95zi {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(178, 178, 178);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.css-1k1iuw5:disabled>div svg {
    opacity: 0.3;
}

.css-qrwdqb:disabled {
    border-color: rgb(235, 245, 255);
}

.css-qrwdqb:disabled {
    cursor: not-allowed;
    color: rgb(178, 178, 178);
}

.css-1wcglds {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
}

.css-qrwdqb:disabled>div {
    opacity: 0.3;
}

.css-14q291r {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    color: rgb(25, 25, 25);
    caret-color: rgb(2, 122, 255);
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    cursor: pointer;
    height: 36px;
    box-sizing: border-box;
    width: 205px;
}

.css-1upc69m {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 16px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    width: 153px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(102, 102, 102);
}

.css-loukex {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 11px 25px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    max-width: 162px;
    width: 100%;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(102, 102, 102);
}

.css-jqqxr7 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1ki033l {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 100%;
    gap: 23px;
}

.css-1oesd74 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: rgb(2, 122, 255);
}

.css-m3wj9v {
    min-height: 250px;
    overflow-x: scroll;
    position: relative;
    max-height: 750px;
}

.css-1k4thca {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(153, 153, 153);
}

.css-1spfi4c {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    bottom: 0px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(229, 229, 229);
}

.css-ga3b11 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.css-yu6za6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}

.css-y6ykth input {
    box-sizing: border-box;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 124px !important;
}

.css-1duehk7 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgb(25, 25, 25);
    white-space: nowrap;
}

.css-w4x83i {
    color: rgb(2, 122, 255);
}

.css-1d3w5wq {
    width: 100%;
}

.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1jvurm9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
}

.css-jbrjjp {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: rgb(25, 25, 25);
    opacity: 0.3;
}

.css-oxp8vl {
    width: 1px;
    height: 16px;
    background-color: rgb(178, 178, 178);
    margin: 0px 12px;
}

.css-1axnh3m {
    color: rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
}

.css-zvmrfm {
    margin: 0px 8px;
}

.css-c6lzdm {
    margin: 0px 4px;
}

.css-1np6q9z {
    padding: 0px 8px 0px 18px;
    display: flex;
}

.css-1np6q9z>svg {
    display: flex;
}

.css-o20oxp {
    padding: 0px 0px 0px 8px;
    display: flex;
}

.css-o20oxp>svg {
    display: flex;
}

.css-o20oxp {
    padding: 0px 0px 0px 8px;
    display: flex;
}

.css-57bp6v {
    width: 8px;
    height: 1px;
    background-color: rgb(204, 204, 204);
}

.css-r48f4w {
    margin-top: 80px;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    color: rgb(76, 76, 76);
}

.css-154hzvp {
    font-size: 13px;
    line-height: 140%;
    color: rgb(127, 127, 127);
}

ol,
ul {
    list-style: none;
}

.css-165uhau {
    padding: 0px;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
}

.css-icndca {
    margin: 0px auto;
    width: 1024px;
    max-width: 100%;
}

.css-902oz6 {
    padding: 80px 0px 60px;
}

.css-13326lh {
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    margin-bottom: 40px;
}

.css-bi6kj0 {
    padding: 27px 0px;
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0px auto;
}

.css-8zlu8o {
    padding: 0px 25px;
    border-right: 1px solid rgb(178, 178, 178);
    font-weight: 400;
}

.css-11g0g7q {
    padding: 0px 25px;
    border-right: unset;
    font-weight: 400;
}

.css-1yu6w4l {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0px auto;
}

.css-82a6rk {
    flex: 1 1 0%;
}

.css-yu6za6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.css-1sy8t0z {
    box-sizing: border-box;
    width: 158px;
    padding: 13px 16px 10px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}


/*상품 조회 목록*/
