.css-mkkf9p {
    flex: 1 1 auto;
}
* {
    font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    scroll-behavior: smooth;
}
.css-k3npxh {
    padding: 0px 20px 100px;
}
.css-vdsrs0 {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    min-width: 1024px;
    width: 1024px;
    max-width: 100%;
    scrollbar-width: none;
}
.css-1geb722 {
    max-width: 1045px;
    padding-top: 32px;
    margin: 0px auto;
}
.css-1je12r6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 8px;
    font-size: 25px;
    line-height: 0.88;
    font-weight: bold;
    color: rgb(25, 25, 25);
}
.css-vg8pgq {
    width: 2px;
    height: 22px;
    font-weight: 300;
    background-color: rgb(178, 178, 178);
}
.css-1je12r6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 8px;
    font-size: 25px;
    line-height: 0.88;
    font-weight: bold;
    color: rgb(25, 25, 25);
}
.css-1fw72n4 {
    margin-top: 14px;
}
.css-162qnrj {
    display: flex;
    -webkit-box-align: start;
    align-items: start;
    column-gap: 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: rgb(102, 102, 102);
}
.css-162qnrj::before {
    content: "•";
    color: rgb(178, 178, 178);
}
.css-165uhau {
    padding: 0px;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
}
button {
    border: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.css-165uhau {
    padding: 0px;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
}
.css-1fw72n4 {
    margin-top: 14px;
}
.css-1dy31wn {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    margin: 24px 0px 30px;
}
.css-1dy31wn article {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 40px 30px 60px;
}
.css-7m4a1a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 8px;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    color: rgb(25, 25, 25);
}
.css-k9oiqw {
    display: flex;
    column-gap: 20px;
}
.css-yhuigj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 48px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.css-ay1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.css-ay1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.css-k9oiqw {
    display: flex;
    column-gap: 20px;
}
.css-yhuigj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 48px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.css-ay1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.css-49gxn1 {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    color: rgb(25, 25, 25);
    caret-color: rgb(2, 122, 255);
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    opacity: 1;
}
.css-1v0rcng {
    border-radius: 6px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(2, 122, 255);
    border: 1px solid rgba(2, 122, 255, 0.6);
    padding: 10px 14px;
    font-size: 14px;
}
.css-ay1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.css-k9oiqw {
    display: flex;
    column-gap: 20px;
}
.css-yhuigj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 48px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.css-11nkng1:read-only, .css-11nkng1.read-only {
    color: rgb(140, 140, 140);
    cursor: default;
    pointer-events: none;
}
.css-11nkng1:disabled {
    background-color: rgb(246, 246, 246);
    color: rgb(178, 178, 178);
    cursor: not-allowed;
}
.css-11nkng1 {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    color: rgb(25, 25, 25);
    caret-color: rgb(2, 122, 255);
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
}
.css-l7tt0k {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 20px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.css-c6z799 {
    display: flex;
    column-gap: 40px;
}
.css-he4ojk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 9px;
}
.css-qxl4sw:disabled:checked {
    border: 2px solid rgb(229, 229, 229);
}
.css-qxl4sw:disabled {
    cursor: not-allowed;
}
.css-qxl4sw:checked {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(2, 122, 255);
}
.css-qxl4sw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    min-width: 20px;
    height: 20px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 15px;
    margin: 0px;
    outline: none;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.css-qxl4sw:disabled:checked::after {
    background-color: rgb(229, 229, 229);
}
.css-qxl4sw:checked::after {
    background-color: rgb(2, 122, 255);
}
.css-qxl4sw::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.css-qxl4sw:disabled {
    cursor: not-allowed;
}
.css-qxl4sw:disabled:checked {
    border: 2px solid rgb(229, 229, 229);
}
.css-qxl4sw:disabled {
    cursor: not-allowed;
}
.css-qxl4sw:checked {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(2, 122, 255);
}
.css-1acmhqo {
    font-weight: 700;
    color: rgb(127, 127, 127);
}
.css-he4ojk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 9px;
}
.css-qxl4sw:disabled {
    cursor: not-allowed;
}
.css-1acmhqo {
    font-weight: 700;
    color: rgb(127, 127, 127);
}
.css-he4ojk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 9px;
}
.css-c6z799 {
    display: flex;
    column-gap: 40px;
}
.css-czlwq2 {
    font-size: 12px;
    font-weight: bold;
    color: rgb(127, 127, 127);
}
.css-1v0rcng:disabled {
    cursor: not-allowed;
}
.css-1v0rcng {
    border-radius: 6px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(2, 122, 255);
    border: 1px solid rgba(2, 122, 255, 0.6);
    padding: 10px 14px;
    font-size: 14px;
}
.css-ay1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.css-k9oiqw {
    display: flex;
    column-gap: 20px;
}
.css-yhuigj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 48px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.css-1v0rcng:disabled {
    cursor: not-allowed;
}
.css-1v0rcng {
    border-radius: 6px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(2, 122, 255);
    border: 1px solid rgba(2, 122, 255, 0.6);
    padding: 10px 14px;
    font-size: 14px;
}
.css-1k3phzy:read-only, .css-1k3phzy.read-only {
    color: rgb(140, 140, 140);
    cursor: default;
    pointer-events: none;
}
.css-1k3phzy:disabled {
    background-color: rgb(246, 246, 246);
    color: rgb(178, 178, 178);
    cursor: not-allowed;
}
.css-1k3phzy {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    color: rgb(25, 25, 25);
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    caret-color: transparent;
}
.css-yhuigj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 48px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.css-czlwq2 {
    font-size: 12px;
    font-weight: bold;
    color: rgb(127, 127, 127);
}
.css-l7tt0k {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 140px;
    white-space: pre-wrap;
    font-weight: bold;
    color: rgb(76, 76, 76);
    height: 20px;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
