.css-1b4me4w {
    box-sizing: border-box;
    flex: 0 0 250px;
    padding: 40px;
    background: rgb(250, 250, 250);
}

.css-1jzj7i2 {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    flex-direction: column;
}

.css-1jzj7i2 {
    flex-direction: row;
}

.css-fxhpp7 {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: rgb(25, 25, 25);
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-6vkce6 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgb(153, 153, 153);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-6vkce6 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgb(153, 153, 153);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-6vkce6 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgb(153, 153, 153);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b.active {
    font-weight: 700;
    color: rgb(25, 25, 25);
}

.css-1l1fv1b.active {
    font-weight: 700;
    color: rgb(25, 25, 25);
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-6vkce6 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgb(153, 153, 153);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1l1fv1b {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.css-1rl734r {
    margin-bottom: 38px;
}

.css-1b4me4w {
    box-sizing: border-box;
    flex: 0 0 250px;
    padding: 40px;
    background: rgb(250, 250, 250);
}